.top {
  background-color: rgb(213, 213, 213);
  height: 530px;
  padding-top: 15px;
}

.top-row-1 {
  display: block;
  background-color: rgb(38, 38, 38);
  height: 100px;
  width: 80%;
  margin: auto;
}

.top-row-2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 15px;
}

.top-row-2-object {
  height: 400px;
  width: 49.5%;
  background-color: rgb(38, 38, 38);
}

.bottom {
  padding-top: 30px;
}

.bottom-row-1 {
  display: block;
  background-color: rgb(135, 135, 135);
  height: 100px;
  width: 80%;
  margin: auto;
}

.bottom-row-2 {
  display: block;
  background-color: rgb(135, 135, 135);
  height: 200px;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}

.bottom-row-3 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 15px;
}

.bottom-row-3-object {
  height: 400px;
  width: 32.5%;
  background-color: rgb(135, 135, 135);
}
