body {
  margin: 0;
}

.row {
  width: 80%;
  max-width: 1000px;
  min-width: 335px;
}

.top {
  background-color: rgb(213, 213, 213);
  height: 380px;
  width: 100%;
  padding-top: 20px;
}

.top-row-1 {
  display: block;
  background-color: rgb(38, 38, 38);
  height: 60px;
  margin: auto;
}

.top-row-2 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
}

.top-row-2-object {
  height: 278px;
  width: 48%;
  background-color: rgb(38, 38, 38);
}

.bottom {
  padding-top: 20px;
}

.bottom-row-1 {
  display: block;
  background-color: rgb(135, 135, 135);
  height: 60px;
  margin: auto;
}

.bottom-row-2 {
  display: block;
  background-color: rgb(135, 135, 135);
  height: 145px;
  margin: auto;
  margin-top: 20px;
}

.bottom-row-3 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-row-3-object {
  height: 278px;
  width: 31%;
  background-color: rgb(135, 135, 135);
}

@media only screen and (max-width: 400px) {
  .row {
    width: 335px;
  }

  .top {
    height: 480px;
  }

  .top-row-1 {
    height: 60px;
  }

  .top-row-2 {
    flex-direction: column;
    margin-top: -20px;
  }

  .top-row-2-object {
    height: 180px;
    width: 335px;
    margin-top: 20px;
  }

  .bottom-row-3 {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .bottom-row-1 {
    margin-top: 10px;
  }

  .bottom-row-3-object {
    height: 150px;
    width: 335px;
    margin-bottom: 20px;
  }
}
